@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --clr-primary: #CAF0F8;
    --clr-light: #fff;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
    --spacer: 2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 0 15% 0 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    background-color: #1796f8;
    color: #000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--clr-light);
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #7a7a7a6b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav a {
    font-size: 1.2rem;
    flex-basis: fit-content;
    padding: 0 5rem;
}

nav #search-bar {
    border: 1px solid #7070701e;
    position: relative;
    height: 42px;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav #search-bar i {
    position: absolute;
    top: 34%;
    left: 10px;
    font-size: 30px;
    color: #707070;
    transform: translateY(-31%);
}

nav #search-bar input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 6rem 0 5rem;
    background-color: transparent;
}

nav #search-bar #clear-button {
    right: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 6px 18px;
    border-radius: 6px;
    background-color: #1796f8;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

p.welcome-msg {
    font-size: 1.5rem;
    padding: 0 100px;
    font-weight: bold;
}

p.welcome-msg span {
    color: #1796f8;
}


.subtask-hidden {
    display: none !important;
}

.Task-container {
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
}

.search {
    position: relative;
}

.subtask-content {
    position: absolute;
    top: 5%;
    right: 0;
    width: 50%;
    background: var(--clr-light);
    height: fit-content;
    border-radius: 10px;
}

div.subtask-content .subtask-count{
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #1796f8;
    padding-left: 15rem;
}

.subtask-list,
.search {
    margin: 0;
    font-size: 1rem;
    padding: 1rem 0;
}

.date-interval {
    margin: 0;
    padding-bottom: 1rem;
    color:#1796f8
}

.task-name {
    font-size: 1.5rem;
    flex-basis: 81%;
    color: var(--clr-dark)
}

.a-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtask-list li label {
    flex-basis:80%;
}

a.font-size.delete-anchor {
    padding-left: 1rem;
}

.disable,
.disabled {
    text-decoration: line-through !important;
}

.completed {
  text-decoration: line-through;
}


.subtask-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    padding: 1rem;
    max-width: 32vw;
    width: 100%;
    margin-bottom: 0.7rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.active-task {
    font-size: 2rem;
    font-weight: 600;
    color: #ff0000;
}

div.subtask-content > * {
    display: flex;
    justify-content: center;
}


.subtask-form {
    border: 1px solid #7070701e;
    max-width: 32vw;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-left: 0.5rem;
}

.subtask-form input {
    height: 100%;
    width: 90%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0.5rem 0 0.72rem 0.5rem;
    background-color: transparent;
}


.btn-submit {
    right: 0px;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 1.5px 20px;
    border-radius: 6px;
    background-color: #1796f8;
    cursor: pointer;
}

.my-task {
    border: 1px solid #7070701e;
    height: 100px;
    max-width: 600px;
    width: 49%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
}

.task-list {
    border: 1px solid #7070701e;
    max-width: 33vw;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 0.5rem;
    margin-bottom: 20px;
}

.task-list div button,
.save-button {
    right: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 2px 20px 6px 20px;
    border-radius: 6px;
    background-color: #1796f8;
    cursor: pointer;
}


.content-form {
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
}

.content-form .form-group {
    width: 60%;
    background-color: #fff;
    transition: margin-left 0.18s ease;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 4.9rem;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: .2rem;
}

.content-form .form-group .legend {
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.form-content .form-control-field {
    border: 1px solid #7070701e;
    height: 2rem;
    width: 16.6rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    margin-bottom: 20px
}

.login-check {
    color: var(--clr-light);
}

.login-check a {
    color: #f4f4f4;
}

a:hover {
    color: #ff0000;
    font-weight: 600;
}

.content-form form {
    margin-bottom: .2rem;
    max-width: 900px;
    width: 100%;

}

.content-form form fieldset .form-group {
    margin-left:100rem;
}

.content-form-registration form .form-group-registration {
    height: 100%;
    max-width: 50vw;
    width: 99%

}

.content-form-registration .form-group-registration {
    background-color: #fff;
    transition: margin-left 0.18s ease;
    padding-bottom: 5rem;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: .2rem;
}

.form-group-registration .form-content .form-control-field {
    border: 1px solid #7070701e;
    height: 2rem;
    width: 16rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
    margin-bottom: 20px;
}

.content-form-registration form {
    height: 100%;
    max-width: 50vw;
    width: 100%;

}

.content-form-registration {
    max-width: 50.4vw;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.content-form-registration .form-group {
    width: 60%;
    background-color: #fff;
    transition: margin-left 0.18s ease;
    display: flex;
    justify-content: center;
    padding: 4.5rem 4.9rem;
    border-radius: 10px;
    border: 2px solid black;
}

.content-form-registration .form-group-registration legend,
.legend {
    position: relative;
    font-size: 30px;
    font-weight: 600;

}


.login-check-forgot {
    color: var(--clr-light);
}

.login-check-forgot a {
    color: #1796f8;
}

.login-check-forgot a:hover{
    color: #ff0000;
    font-weight: 600;
}


.submit-btn-register,
.submit-btn  {
    right: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 6px 25px 6px;
    border-radius: 6px;
    background-color:#1796f8;
    cursor: pointer;
    margin-top: .2rem;
}


.btn {
    right: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 6px 25px 6px;
    border-radius: 6px;
    background-color:#1796f8;
    cursor: pointer;
    margin-left: 3rem;
    margin-top: 1rem;
}

.content-form fieldset .form-group-request {
    height: 35vh;
    max-width: 900px;
    width: 100%;
}

.content-form fieldset {
    border-radius: 6px;
}

.content-form fieldset .form-group-request-form input {
    max-width: 430px;
    width: 90%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px 20px;
    height: 2.5rem;
}

.content-form fieldset .form-group-request-form,
.content-form fieldset .form-group-reset-form {
    padding-top: 3rem;
}

.content-form fieldset .form-group-request-form .form-group-request .btn {
    width: 50%;
}

.form-group-reset-fieldset {
    height: 59.5vh;
    max-width: 426px;
    width: 100%;
}

.content-form fieldset .form-group-reset-form input {
    max-width: 430px;
    width: 90%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 10px 20px;
    height: 2.5rem;
}

.btn-reset {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    background-color: #1796f8;
    cursor: pointer;
    margin-left: 4.6rem;
    margin-top: 2rem;
}

#get-started {
    right: 0px;
    font-size: 50px;
    font-weight: 400;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #1797f8;
    cursor: pointer;
    margin: 22rem auto;
}

.form-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

ul .subtask-list {
    display: flex;
    flex-wrap: wrap;
}

#add-subtask {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    border: none;
    padding: 3px 20px 0;
    border-radius: 6px;
    background-color: #1796f8;
    cursor: pointer;
}

.task-form {
    border: 1px solid #7070701e;
    max-width: 33vw;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
}

.btn-submit:hover,
.save-button:hover,
#add-subtask:hover,
#get-started:hover,
.submit-btn:hover,
.submit-btn-register:hover,
.btn:hover,
.btn-reset:hover,
#clear-button:hover {
    font-weight: 600;
    opacity: 0.8;
    background-color: #ff0000;
}

.invalid-feedback span {
    color: #ff0000;
}

.flash-alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 80%;
    text-align: center;
    margin-left:1rem
}

.flash-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 61%;
    text-align: center;
}

.flash-alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 57%;
    text-align: center;
}

.flash-alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 100%;
    margin-left: 0.2rem;
    text-align: center;
}

li.flash-alert-message {
    color: #fff;
    padding-left: 1.6rem;
}