{% extends "layout.html" %}
{% block content %}
<style>
    body {
        background: url(https://github.com/icareus1/alx_capstone_project/assets/79919003/4dfea909-7e67-48f7-93f2-53f4fdedc369)no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        border: 1px solid black;
        margin-left: 35%;
    }


</style>
<div id="some-name">
    <button id="get-started" onclick="window.location.href='{{ url_for('login') }}'">Get Started</button>
</div>

{% endblock %}