<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
</head>
<body>
    <header>
        {% if current_user.is_authenticated %}
        <nav>
            <p class="welcome-msg">Welcome, <span>{{ current_user.username }}</span></p>
            <div id="search-bar">
                <i class="uil uil-search"></i>
                <input type="month" id="search-input"
                onchange="searchTasks()" required>
                <button id="clear-button" onclick="clearSearch()">Clear</button>
            </div>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
        {% endif %}
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul style="padding: 0;">
                {% for category, message in messages %}
                    <li class="flash-alert-{{ category }}">
                        {{ message }}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
